@model  ClinicaMedica.ViewModels.MedicoViewModel

@{
    ViewBag.Title = "Deletar";
}

<h2>Deseja deletar esse paciente?</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Idade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Especialidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.Nome)
        </td>
        <td>
            @Html.DisplayFor(model => model.Idade)
        </td>
        <td>
            @Html.DisplayFor(model => model.DataNascimento)
        </td>
        <td>
            @Html.DisplayFor(model => model.Especialidade)
        </td>
        <td>
            @Html.DisplayFor(model => model.Salario)
        </td>
        <td>
            @Html.DisplayFor(model => model.Telefone)
        </td>
    </tr>
</table>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        <input type="submit" value="Deletar" class="btn btn-danger" />
        @Html.ActionLink("Cancelar", "Index", new { htmlAttributes = new { @class = "btn btn-primary" } })
    </div>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
